

section.search-input > .container{
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgray;
}

#find-input {
    margin-top: 1rem;
    padding: 1rem 3rem;
    margin-bottom: 1.6rem;
    max-width: 64rem;
    width: 80%;
    border: none;
    height: 3rem;
    font-size: 1.5rem;
    color: gray;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.803);
    text-align: center;
    transition: .3s;
    &:focus {
        outline-color: #e8e8e8;
    }
    &:hover {
        box-shadow: 0 0 1rem lightgray;
    }
}

.card {
    background-color: white;
    border: solid lightgray 1px;
    min-height: 16rem;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 48rem;
    gap: .8rem;
    display: flex;
    border-radius: .8rem;
    width: 100%;
    & img {
        border-radius: 1.0rem;
        padding: .5rem;
        object-fit: cover;
        width: 40%
    }

    & > div {
        padding: 2rem 2rem 2rem 0rem;
        width: 60%;
    }

    & li {
        font-weight: 500;
        color: #444;
        padding-bottom: .6rem;
    }

    & p {
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 1.6em;
        color: gray;
    }

    & .phone {
        &::before {
            content: url("/assets/icons/telephone.svg");
            display: inline-block;
            padding-right: .5em;
            width: 1.6em;
            transform: translateY(8%);
        }
    }
    
    & .email {
        &::before {
            content: url("/assets/icons/mail.svg");
            display: inline-block;
            padding-right: .5em;
            width: 1.6em;
            transform: translateY(16%);
        }
    }
}