section:nth-child(odd) {
    background-color: #fffbf2;
}
section > .container {
    gap: 2rem;
    max-width: 80rem;
    flex-wrap: wrap;
    & img {
        border-radius: 1rem;
        max-width: 32rem;
        width: 100%;
    }
    & div {
        max-width: 40rem;
        width: 100%;
        & img {
            padding: 1.2rem;
            width: 6rem;
            background-color: #e8003c;
            margin-bottom: 3rem;
        }
    }
    & h3 {
        padding-bottom: 1rem;
    }
    & p::after {
        content: "..."; 
        // text-align: right;
        color: #e8003c;
        padding-top: 1rem;
        font-size: 4rem;
        display: block;
    }
}