.disable__scroll {
  overflow: hidden;
}

.office__bearers {
  margin-top: 6.4rem;
}

.office__bearers__title {
  text-align: center;
  padding-block: 2.5rem;
}

.office__bearers__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto 3rem auto;
}

.office__bearer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  max-width: 14rem;
  height: auto;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid rgba(199, 199, 199, 0.478);
  box-shadow: var(--drop-shadow-dark);
  transition: transform 150ms ease-in;
}

.office__bearer__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  border: 1px solid rgba(199, 199, 199, 0.478);
}

.office__bearer__name {
  font-size: 1.2rem;
  text-align: center;
}
.office__bearer__position {
  font-size: 0.8rem;
}

.office__bearer:hover {
  transform: scale(1.03);
}

.office__details {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 90%;
  max-width: min(90%, 50rem);
  height: 23.75rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: white;
  transform: translate(-50%, -50%);
}

.office__details::backdrop {
  background: rgb(71, 71, 71);
  background: radial-gradient(
    circle,
    rgba(71, 71, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.8;
  pointer-events: none;
}

.office__details__close-btn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.6rem;
  aspect-ratio: 1/1;
  border-radius: 7px;
  background-color: transparent;
}

.office__details__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}

.office__details__image {
  align-self: stretch;
  justify-self: stretch;
  object-fit: contain;
  max-width: 85%;
  max-height: 100%;
}

.office__details__contents {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: 100%;
}

.office__details__text {
  width: 95%;
  height: 100%;
  padding-right: 1.2rem;
  overflow-y: scroll;
}

@media screen and (max-width: 39.25rem) {
  .office__details__contents {
    padding: 1rem;
  }

  .office__details__text {
    padding: 1rem;
    margin: 0 auto;
  }
}
