/*--- CSS Variables ---*/
:root {
  --primary-clr: #ef233c;
  --secondary-clr: #2b2d42;
  --accent-clr: #ffde4a;
  --text-fineprint-clr: #858585;
  --footer-secondary-clr: #252525;
  --drop-shadow-dark: 0 0 35px 7px rgba(0, 0, 0, 0.25);
}

/*--- CSS style resets ---*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
}

body {
  font-family: "inter";
  min-height: 100dvh;
}

/*--- Resuable Styles ---*/

/* >--- Navigation Bar Styles ---< */

.navigation__bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
}

.navigation__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.5rem;
  background-color: #fff;
}

.navigation__brand__logo {
  max-width: 1.3rem;
}

.navigation__brand__name {
  font-size: 1rem;
  font-weight: 300;
}

.navigation__items__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-clr);
  min-height: 4rem;
}

.navigation__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  min-width: min(32rem, 100%);
  max-width: 42rem;
  font-size: 1.07rem;
  font-weight: 500;
}

.navigation__item {
  height: auto;
  position: relative;
  cursor: pointer;
}

.navigation__hamburger__icon {
  display: none;
}

.navigation__dropdown {
  position: absolute;
  width: max-content;
  left: 50%;
  padding: 1.2rem 1.1rem 0 1.1rem;
  border-radius: 4px;
  background-color: var(--secondary-clr);

  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.navigation__item__text,
.navigation__dropdown__text {
  text-align: center;
  color: #fff;
  transition: all 150ms ease-in;
}

.navigation__item__text:hover,
.navigation__dropdown__text:hover {
  transform: scale(1.07);
}

.navigation__dropdown__item {
  padding-bottom: 0.7rem;
}

.navigation__item:hover > .navigation__dropdown,
.navigation__item > .navigation__item__url:focus + .navigation__dropdown {
  visibility: visible;
  pointer-events: all;
  animation: reveal-dropdown 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes reveal-dropdown {
  from {
    opacity: 0;
    transform: translate(-50%, -1rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/*---Navigation bar media queries ---*/

@media all and (max-width: 33.75rem) {
  .navigation__items {
    height: 0;
    flex-direction: column;
    justify-content: unset;
    gap: 1rem;
    min-width: unset;
    margin-block: 1.5rem;
    overflow: hidden;
  }

  .navigation__hamburger__icon {
    align-self: self-start;
    display: block;
    cursor: pointer;
  }

  .navigation__hamburger__lines {
    display: block;
    width: 1.5rem;
    height: 0.15rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--accent-clr);
    transition: transform 1s ease, opacity 0.3s ease;
  }

  .navigation__hamburger__lines::before,
  .navigation__hamburger__lines::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 0.15rem;
    border-radius: 10px;
    background-color: var(--accent-clr);
  }

  .navigation__hamburger__lines::before {
    transform: translateY(-0.4rem);
  }

  .navigation__hamburger__lines::after {
    transform: translateY(0.4rem);
  }

  .navigation__hamburger__icon.open .navigation__hamburger__lines {
    background-color: var(--secondary-clr);
  }

  .navigation__hamburger__icon.open .navigation__hamburger__lines::after {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .navigation__hamburger__icon.open .navigation__hamburger__lines::before {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }

  .--mobile__hide {
    display: none;
  }

  .navigation__dropdown {
    position: unset;
    display: block;
    width: 100%;
    padding: 0;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translate(0);
  }

  .navigation__item:hover > .navigation__dropdown,
  .navigation__item > .navigation__item__url:focus + .navigation__dropdown {
    animation: unset;
  }

  .navigation__dropdown__item {
    padding: 0;
  }
  .navigation__dropdown__item + .navigation__dropdown__item {
    padding-top: 1rem;
  }
}

/*--- footer styles  ---*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  width: 100%;
  padding-block: 1.2rem 0.6rem;
  /* margin-top: auto; */
  color: white;
  background-color: var(--primary-clr);
}

.footer__icon__container {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.footer__icon {
  max-width: 1.3rem;
}

.copyright__fineprint {
  text-align: center;
  font-size: 0.8rem;
}

.footer__icon__link {
  transition: transform 200ms ease-in;
}

.footer__icon__link:hover {
  transform: scale(1.1);
}

.--backgroun-clr {
  background-color: var(--footer-secondary-clr);
}

/*--- javascript Classes ----*/
