:root {
  --fs-p: 1rem;
  --fs-h6: 1rem;
  --fs-h5: 1.275rem;
  --fs-h4: 1.575rem;
  --fs-h3: 1.9rem;
  --fs-h2: 2.25rem;
  --fs-h1: 2.6rem;
  --fs-fine-print: 0.875rem;
}

h1 {
  padding-bottom: 0.5em;
  font-weight: 800;
  font-size: var(--fs-h1);
}

h2 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: var(--fs-h2);
}

h3 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: var(--fs-h3);
}

h4 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: var(--fs-h4);
}

h5 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: var(--fs-h5);
}

h6 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: var(--fs-h6);
}

p {
  padding-bottom: 0.5em;
  color: rgb(79, 79, 79);
  line-height: 1.4em;
  font-size: var(--fs-p);
}

body {
  position: relative;
  background-color: #f6f5f0;
  overflow-x: hidden;
}

header,
section {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
header .container,
section .container {
  padding-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem;
  max-width: 86rem;
  width: 92%;
}
header:nth-child(even),
section:nth-child(even) {
  background-color: #e8e8e8;
}

nav p,
footer p {
  color: white !important;
}

.secondary-header {
  min-height: 28rem;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6745098039),
      rgba(52, 57, 73, 0.4784313725)
    ),
    url("../assets/header-image.webp") bottom/cover no-repeat;
  display: flex;
  align-items: end;
}
.secondary-header .container {
  width: 100vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4.5rem;
}
.secondary-header .h-plus {
  text-shadow: 0 0 0.5rem rgb(67, 67, 67),
    0.5rem 0rem 0 rgba(255, 255, 255, 0.645),
    -0.5rem 0rem 0 rgba(255, 255, 255, 0.288);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: clamp(4rem, 8vw, 8rem);
  color: rgba(255, 0, 0, 0.5);
  font-size: clamp(4rem, 8vw, 8rem);
  padding-bottom: 2rem;
}
.secondary-header h1 {
  color: white;
  padding-bottom: 0.5em;
}
.secondary-header h5 {
  text-align: center;
  font-weight: 500;
  color: white;
  padding-bottom: 2rem;
}
.secondary-header h6 {
  color: white;
  opacity: 0.75;
}

.btn {
  font-size: 1rem;
  height: 3rem;
  color: red;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  padding: 10px 20px;
  border: solid 2px red;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  border: solid 2px white;
  background: #e8003c;
  color: white;
}
.btn > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.btn:hover svg {
  transform: translateX(5px);
}
.btn:active {
  transform: translateY(3px);
  background: #bd0032;
}

#card-board {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.mobile-collapse > * {
  width: 50%;
}

@media screen and (max-width: 72rem) {
  .mobile-collapse {
    flex-direction: column;
  }
  .mobile-collapse > * {
    width: 100%;
  }
  .mobile-collapse p {
    text-align: center !important;
  }
}
hr {
  border-top: solid 1px #b1b1b1;
  border-bottom: solid 1px #b1b1b1;
  padding: 0;
  margin: 0;
  width: 100%;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loader-container {
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.loader {
  background-image: linear-gradient(#e40021 35%, #ff0000);
  width: 100px;
  height: 100px;
  animation: spinning 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #ff2486, 0px 5px 20px 0px #e40021;
}

.spinner {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
.card {
  background-color: white;
  border: solid rgba(211, 211, 211, 0.516) 1px;
  overflow: hidden;
  box-sizing: border-box;
  gap: 0.8rem;
  border-radius: 2rem;
}
